@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

.searchbar {
    display: flex;
    position: relative;
}

.input{
    pointer-events: auto;
    z-index: 1;
    width: 85vw;
    padding: 0 1.5rem;
    border: 0 none;
    border-radius: 2rem;
    font-size: 1rem;
    color: #0c131f;
    min-height: 4.2rem;
    display: block;
    }

.searchIconContainer{
    pointer-events: auto;
    z-index: 1;
    top: 0;
    right: 0;
    min-height: 4.2rem;
    border-radius: 50%;
    background-color: #8de8fe;
    line-height: 1px;
    position: absolute;
    font-size: 18px;
    display: flex;
    align-items: center;
 }

.searchIcon{
    padding-left: 24px;
    padding-right: 1rem;
    height: 1.5em;
}

.autosuggestContainer{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1px;
    overflow-y: scroll;
    max-height: 500px;
    margin: 10px;
}


.houseIcon{
    margin-right: 14px;
}


.titles{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 15px;
    padding-left: 12px;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.city{
    display : flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.city:hover{
    background-color: #F2F1F1;
    cursor: pointer;
}

.resultText{
    font-size: small;
}

.p{
margin :1px;
color: gray;
}


.cityName{
    font-weight: bold;
    margin:0;
}

.regionName{
    margin: 6px;
    font-weight: lighter;
    color: gray;
}

.finalCity{
    display : flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}